*{
    margin: 0;
    padding: 0;
}


 /* Share Css */

.section-all{
    max-width: 1600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: #1A0B2E; */
}

.display-flax{
    display: flex;
}
.gradient-text{
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.btn{
    padding: 12.5px 16px;
    background: linear-gradient(60deg, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}







 /* Header all css */
 
.header {
    width: 100%;
}

/* Navber css */

.navber{
    margin: 0 auto;
    padding: 16px 200px;
    align-items: center;
    justify-content: space-between;
    background-color: #1A0B2E;
}
.logo{
    color: #FFFFFF;
}
.nav-menu{
    list-style: none;
    gap: 32px;
}
.nav-name{
    text-decoration: none;
    color: #FFFFFF;
}
.mobile-menu{
    display: none;
}

/* Banner css */


.banner{
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner-contant{
    max-width: 550px;
    margin: 101px 525px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner-titel{
    font-size: 5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.banner-bio{
    color: #FFFFFF;
    margin-bottom: 24px;
}

.img-contant{
    position: relative;
    width: 350px;
    height: 350px;
    margin: 0 auto;
    background-image: url(../assets/hero-circle.png);
    background-size: 350px 350px; /* image size control */
    background-position: center;
    margin-bottom: 40px;  
}

.banner-img{
    width: 116px;
    position: absolute; 
    align-items: center; 
    top: 25%;
    left: 34%;
}

.new-btn{
    position: absolute;
    top: 20px;
    right: 23px;
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 20px;
}

.btn-2{
    padding: 12.5px 16px;
    background-color: #00ff8800;
    color: #00FF88;
    border: 0.5px solid #00FF88;
    border-radius: 20px;
    cursor: pointer;
}

















