*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

 /* Share Css */

.display-flax{
    display: flex;
}

.section-all{
    max-width: 1600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section-title{
    font-size: 3rem;
    font-weight: bold;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
}


.gradient-text{
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn{
    padding: 12.5px 16px;
    background: linear-gradient(60deg, #F7E93F, #FB09B4, #9100F8);
    color: #FFFFFF;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.4s ease;
}
.btn:hover{
    background: linear-gradient(90deg, #9100F8, #FB09B4, #F7E93F);
    color: #3e0078;
    font-size: 14.5px;
}

.card-title{
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin: 8px 0;
}
.card-bio{
    font-size: 1rem;
    line-height: 20px;
    color: #cccccc;
    margin: 8px 0;
}


 /* Header all css */
 
.header {
    width: 100%;
}

/* Navber css */

.navber{
    margin: 0 auto;
    padding: 16px 0;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1A0B2E;
    border-bottom: 0.5px solid #412567;
}

.logo{
    color: #FFFFFF;
}

.nav-menu{
    list-style: none;
    gap: 32px;
}

.nav-name{
    text-decoration: none;
    color: #FFFFFF;
}

.mobile-menu{
    display: none;
}

/* Banner css */


.banner{
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-contant{
    max-width: 550px;
    margin: 0 auto;
    padding: 100px 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.img-contant{
    width: 350px;
    height: 350px;
    background-image: url(../assets/hero-circle.png);
    background-size: contain;  
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;  
    transition: 0.3s;        
}
.img-contant:hover{
    box-shadow: 0 15px 30px rgba(255, 0, 149, 0.406);
}

.banner-img{
    width: 116px;
    padding: 0;
    transition: 0.8s;
}
.banner-img:hover{
    transform: rotate(360deg);
}

.new-btn{
    position: relative;
    bottom: -70px;
    right: -140px;
    background-color: #00FF88;
    color: #1A0B2E;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.new-btn:hover{
    background-color: #00ff8800;
    color: #00FF88;
    border: 1px solid #00FF88;
    
}
.banner-titel{
    font-size: 5rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.banner-bio{
    color: #FFFFFF;
    margin-bottom: 24px;
}


.btn-2{
    padding: 12.5px 16px;
    background-color: #00ff8800;
    color: #00FF88;
    border: 0.5px solid #00FF88;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-2:hover{
    background-color: #00FF88;
    color: #020202;
}
/* About SEction all css */

.about{
    margin: 0 auto;
    background-color: #1A0B2E;
    padding-top: 20px;
    padding-bottom: 80px;
}
.about-contant{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 80px;
}
.about-title{
    margin-bottom: 16px;
}

.about-bio{
    font-size: 1rem;
    color: #FFFFFF;
    padding: 0 16px;
    line-height: 30px;
}

.hr-line{
    max-width: 1200px;
    margin: 0 auto 80px;
    border: 0.5px solid #412567;
}

.rating-contant{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
}
.rateing-box{
    max-width: 240px;
}
.rating-point{
    font-size: 3rem;
    font-weight: bold;
    color: #00FF88;
    margin-bottom: 16px;
}
.rating-bio{
    font-size: 1rem;
    line-height: 20px;
    color: #FFFFFF;
}


/* techwave section all css  */
.techwave{
    max-width: 1600px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    background-color: #230E3D;
    padding-top: 20px;
    padding-bottom: 80px;
}
.techwave-title{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 100px;
}
.techwave-contant{
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    margin: 0 auto;
    padding: 0 16px;
}
#card{
    border-radius: 40px;
    background-color: #351165;
    padding: 40px;
    border-left: 4px solid transparent;
    transition: 0.3s;
}
#card:hover{
    border-left-color: #00FF88;
}
.card-icon{
    margin: 16px 0 8px 0;
}
#img-1{
    margin: 107px 0 0 0;
}

.card-1{
    grid-column: span 1;
    grid-row: span 2;
}
.card-2{
    grid-column: span 2;
    grid-row: span 1;
}
.card-3{
    grid-column: span 2;
    grid-row: span 1;
}
.card-4{
    grid-column: span 2;
    grid-row: span 1;
}
.card-5{
    grid-column: span 1;
    grid-row: span 1;
}




/* featured section all css  */

.featured{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #1A0B2E;
}
.episodes-contant{
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 16px;
    align-items: center;
    justify-content: center;
}
.episode-title{
    margin-bottom: 40px;
}
.card-contant{
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    gap: 30px;
}
.episodes-card{
    max-width: 380px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.episodes-card:hover{
    box-shadow: 0 10px 25px rgba(20, 20, 20, 0.434);
    transform: translateY(-5px);
    border-bottom: 5px solid #00FF88;

}
.card-box{
    padding: 24px;
    background-color: #250D44;
    border-radius: 0 0 20px 20px;
}

.video-thumb {
    position: relative;
    display: block;
    width: 100%;
    height: 180px; 
    overflow: hidden;
}

.video-thumb .thumble {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover; 
    border-radius: 20px 20px 0 0;
}

/* Play Button */
.play-btn {
    position: absolute;
    top: 35%;
    left: 40%;
    margin: auto;
    width: 64px;
    height: 64px;
    background: linear-gradient(70deg, #F7E93F, #ff01bb, #9100F8);
    color: white;
    font-size: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    transition: 0.3s;
}
.video-thumb:hover .play-btn {
  transform: scale(1.15);
}

.timer{
    font-weight: bold;
    color: #00FF88;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px; /* LEFT–RIGHT GAP */
}

.meet-contant{
    padding-bottom: 120px;
}
.meet-box{
    border-radius: 10px;
    background-color: #230E3D;
    display: flex;
    margin: 0 auto;
    margin-top: 40px;
    align-items: center;
   padding: 0 16px 120px;
}
.clint-img{
    padding: 40px;
    transition: 0.3s;
}
.clint-img:hover{
    transform: scale(1.05);
}
.meet-box-contant{
    margin: 0 auto;
}
.clint-name{
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.clint-bio{
    color: #FFFFFF;
    margin-bottom: 16px;
}
.social{
    display: flex;
    align-items: center;
    gap: 10px;
}
.clint-icon{
   background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #533C72;
    padding: 10px;
    border-radius: 50%;
    font-size: 14px;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 16px;
}
.clint-icon:hover{
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-text-fill-color: #fff;
}

/* footer all css */

.footer{
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(../assets/footer-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

}
#footer-logo{
    font-size: 4rem;
    padding-top: 55px;
    margin-bottom: 16px;
}
.footer-contant{
    max-width: 1360px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}
.social-name{
    color: #FFFFFF;
}
.footer-social{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 16px;
}
.social-item{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.copy-right{
    color: #cccccc; 
    padding-bottom: 80px; 
}



/*  Mobile Device (max-width: 576px) */

@media screen and (max-width: 576px) {

    /* share  */

.section-title{
    font-size: 2rem;
    padding: 20px;
}

 /* navber */

.navber{
    justify-content: space-between;
    padding: 16px;
}
.nav-menu{
    display: none;  
}
.mobile-menu{
    display: block; 
    color: #fff;
}
#btn-1{
    display: none;
}


 /* banner */

.banner{
    background-image: url(../assets/mob.bac.png);
}

.banner-contant{
    padding: 60px 16px;
}
.banner-titel{
    font-size: 2.5rem;
}
.img-contant{
    width: 200px;
    height: 200px;
}
.banner-img{
    width: 45px;
    padding-top: -60px;
}

.new-btn{
    bottom: -50px;
    right: -90px;
    font-size: 14px;
}

/* about */

.about-bio{
    font-size: 1rem;
    line-height: 26px;
}
.rating-contant{
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    text-align: center;
}
.rating-point{
    font-size: 2rem;
}

 /* techwave */

.techwave-contant{
    grid-template-columns: 1fr;
    gap: 20px;
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5{
    grid-column: span 1;
    grid-row: span 1;
}
#img-1{
    margin: 0;
}

 /* Feature */

.card-contant{
    flex-direction: column;
}
.episodes-contant{
    padding-top: 10px;
    padding-bottom: 50px;
}
.episode-title{
    margin-bottom: 10px;
}
.episodes-card{
    max-width: 100%;
    height: 100%;
}

  /* meet box */

.meet-box{
    /* max-width: 300px; */
    flex-direction: column;
    text-align: center;
    padding: 16px;
}

.clint-img{
    width: 180px;  
    height: auto;
    padding: 20px;
}
.clint-name{
    font-size: 1.5rem;
}

.social{
    justify-content: center;
}
#footer-logo{
    font-size: 2.5rem;
    padding-top: 24px;
}
.footer{
    background-image: url(../assets/mob-footer.png);
}
.footer-social{
    gap: 16px;
    padding: 16px;
}
.copy-right{
    font-size: 0.9rem;
    padding-bottom: 50px;
}

}


/* Medium ( 577px – 992px) */

@media screen and (min-width: 577px) and (max-width: 992px) {

    
.navber{
    padding: 16px 32px;
    justify-content: space-between;
}

.nav-menu{
    gap: 20px;
}

    
.banner-contant{
    padding: 80px 20px;
}

.banner-titel{
    font-size: 3.5rem;
}

.img-contant{
    width: 260px;
    height: 260px;
}

.banner-img{
    width: 80px;
}

.new-btn{
    bottom: -60px;
    right: -110px;
    font-size: 16px;
}
   
.about-contant{
    padding: 0 24px;
}

.rating-contant{
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: center;
}
  
.techwave-contant{
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5{
    grid-column: span 1;
    grid-row: span 1;
}

#img-1{
    margin: 0;
}

    
.card-contant{
    flex-wrap: wrap;
}

.episodes-card{
    max-width: 48%;
}

    
.meet-box{
    max-width: 90%;
    gap: 20px;
    padding: 20px;
}

.clint-img{
    width: 220px;
    padding: 20px;
}

.clint-name{
    font-size: 1.8rem;
}

    
#footer-logo{
    font-size: 3rem;
}

.footer-social{
    gap: 20px;
}
}
